<% include ../_layout/head %>
<% include ../_layout/header %>
<!-- Container (The Band Section) -->
<div id="band" class="container text-center">
    <h3><%=title%></h3>
    <!-- <p><em>We love music!</em></p> -->
    <p><%=content %></p>
    <br>

  </div>
  <% include ../_layout/footer %>