<% include ../_layout/head %>
<% include ../_layout/header %>
<!-- Container (The Band Section) -->
<div id="band" class="container text-center">
    <img src="frontend/images/not-found.jpg">
</div>
<% include ../_layout/footer %>